
.brandPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

/* Opening section */

.opening {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 40px;
    align-items: center;
    width: 80vw;
    height: 100vh;
}

.openHead {
    z-index: 2;
    padding-left: 190px;
    font-size: 150px;
    font-weight: bold;
}

.openImg {
    width: 266px;
    height: 354px;
}

.oBlurb {
    z-index: 1;
    padding-top: 95px;
    width: 650px;
    font-weight: bolder;
}

.openImg1 {
    position: absolute;
    top: 405px;
    left: 330px
}

.openImg2 {
    position: absolute;
    top: 535px;
    right: 350px;
}

.oh2 {
    position: relative;
    top: 120px;
    /* right: 120px; */
    right: 10%;
}

.openImgDiv {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* opening section close  */

.cta {    
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    /* width: 75%; */
}

.filterBar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(215, 215, 215);
    width: 100vw;
}

.filterBar button {
    background: transparent;
    border: none;
}

/* card components */

.shopButton, .shopButton a {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.brandContainer {
    
    padding: 20px;
    height: 100%;
    width: 380px;
}

.nameContainer {
    white-space: nowrap;
}

#shop {
    /* position: relative;
    bottom: 0; */
    margin-top: 10px;
}

.textBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandCardAbout {
    width: 100%;
    height: fit-content
    /* overflow-y: scroll; */
}

.brandCardBlurb {
    width: 100%;
    height: fit-content
    /* overflow-y: scroll; */
}

.brandImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bound {
    padding: 77px;
}

.brandCardImage {
    object-fit: cover;
    object-position: 100% 0;
    height: 398px;
    width: 379px;
}

.spacer {
    height: 370px;
}

.brand button {
    padding: 10px 60px;
    background-color: brown;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 40px;
    border: none;
}

.brand a {
    text-decoration: none;
    color: white;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    
}

.left {
    background-color: rgb(212, 212, 212);
    
}

.content {
    width: 75%;
}


.active {
    text-decoration: underline;
}

.email {
    border-radius: 8px;
    border: none;
    padding-left: 5px;
    margin:10px;
}

.navBar {
    height: 80px;
}

.divotDown {
    display: absolute;
    top: 45px;
}

@media (max-width: 1850px) {
    .openImg {
        opacity: 50%;
    }
}


@media (max-width: 1700px) {
    .oBlurb {
        background-color: #efeae7;
        /* width: 45vw; */
    }
    .openImg {
        opacity: 0;
    }

    .oh2 {
        right: 27.5%;
    }

    .oh1 {
        position: relative;
        left: 10%;
    }
    
}