body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Donation component div */
.donation-component {
  background-color:rgba(35, 55, 75, 0.9);
  margin: 5vh 10vw;
  display: grid;
}

.charity {
  background-color: aliceblue;
}

/* Donation Images */
.donation-image {
  
  max-height: 150px;
  max-width: 150px;

}
